.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 1em #aaa;
    }

    &.completed {
        text-decoration: line-through;
    }
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}
