.search-sort-bar {
    .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-select {

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}